<% content_for :body_class, "edit" %>


<div class="profile-content white">
  <%= form_with(model: @user, local: true, class: "edit-user form") do |form| %>
    <% if @user.errors.any? %>
      <div>
        <b>
          <%= pluralize(@user.errors.count, "error", "errores") %> <%= (@user.errors.count && @user.errors.count > 1 ? "prohibieron" : "prohibio") %> crear el usuario:
        </b>
        <ul class="browser-default left-align">
          <% @user.errors.messages.each do |key, messages| %>
            <% messages.each do |message| %>
              <li class="red-text"><%= message %></li>
            <% end %>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="row">
      <div class="input-field col s6">
        <div class="file-field field">
          <div>
            <i class="large material-icons teal-text lighten-2">add_a_photo</i>
            <%= form.file_field :avatar, accept:'image/*' %>
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate" type="text" placeholder="Sube una foto">
          </div>
        </div>
      </div>
        <div class="input-field col s6">
          <div class="file-field field">
            <div>
              <i class="large material-icons blue-text lighten-1">attach_file</i>
              <%= form.file_field :resume, accept: 'application/pdf, application/zip,application/vnd.openxmlformats-officedocument.wordprocessingml.document' %>
            </div>
            <div class="file-path-wrapper">
              <input class="file-path validate" type="text" placeholder="Sube currículum">
            </div>
          </div>
        </div>
      </div>
    <div class="field left-align">
      <%= form.label :nombre %>
      <%= form.text_field :first_name, placeholder: :jean %>
    </div>
    <div class="field left-align">
      <%= form.label :apellido %>
      <%= form.text_field :last_name, placeholder: :duarte %>
    </div>
    <div class="field left-align">
      <%= form.label :email %>
      <%= form.email_field :email, placeholder: "ejemplo@email.com" %>
    </div>
    <div class="field left-align">
      <%= form.label :numero_telefonico %>
      <%= form.telephone_field :phone_number, placeholder: "8095557733" %>
    </div>
    <div class="field left-align">
      <%= form.label :fecha_de_nacimiento %>
      <%= form.date_field :dob %>
    </div>
    <div class="field left-align">
      <%= form.label :escribi_un_poco_sobre_ti %>
      <i class="material-icons tooltipped" data-position="top" data-tooltip="<h6>Sugerencias:</h6><ul class='left-align browser-default'><li>Habilidades</li><li>Areas ocupacionales</li></ul><br/><ol class='left-align'><li>Puedo trabajar bajo presión</li><li>Se me da bien resolver problemas de una manera rápida y eficaz</li><li>Me considero una persona creativa e innovadora</li><li>Soy una persona bastante despistada</li><li>Me exijo constantemente efectividad y buenos resultados en mis estudios</li><li>Puedo trabajar en equipo</li><li>Me gusta escuchar a los demás y comprender sus sentimientos</li><li>Tengo facilidad para pensar y razonar de forma lógica</li></ol>">help_outline</i> <%= form.text_area :description, size: '100x500', class: "materialize-textarea", placeholder: "Las fortalezas centrales y los conjuntos de habilidades más relevantes para el rol
      Experiencia relevante pasada con funciones clave.
      Logros notables que pretende repetir en el próximo rol" %>
    </div>
    <div class="field left-align">
      <%= form.label :contraseña %>
      <%= form.password_field :password, placeholder: :password %>
    </div>
    <div class="field left-align">
      <%= form.label :confirmar_contraseña %>
      <%= form.password_field :password_confirmation, placeholder: :password %>
    </div>
    <div class=" left-align">
      <div class="field left-align">
        <strong>Intereses:</strong><br />
        <div class="">
          <% @tags.each do |tag| %>
            <div class="col s6">
              <label>
                <%= form.check_box :tag_ids, { id: "#{tag.name.split(' ').join("-")}", class: "filled-in", checked: @user.tags.include?(tag), multiple: true, value: tag.id }, tag.id.to_s, false %>
                <span><%= tag.name %></span>
              </label>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <%= form.submit "Actualizar usuario", class: "waves-effect waves-light btn green white-text" %>
  <% end %>
  <%= link_to t('Atras'), :back, class: "waves-effect waves-light btn orange white-text" %>
  <p>
    <%= link_to 'Borrar', @user, method: :delete, 
        data: { confirm: 'Confirma que quiere borrar su cuenta?' }, 
        class: "btn-flat lighten-2 red white-text" %>
  </p>
  </p>
</div>




