<p id="notice"><%= notice %></p>

<% if current_user == @user %>
  <h5><%= @user.email %> logged in</h5>
<% end %>

<div>
  <% if @user.avatar.attached? %>
    <%= image_tag @user.avatar, size: "100x100" %>
  <% else %>
    <i class="large material-icons">account_circle</i>
  <% end %>
</div>

<div>
  <%= link_to "Mis trabajos ideales", user_matches_path(@user), class: "btn green" %>
</div>

<div>
  <div class="row">
    <div class="field">
        age: <%= @user.age %>
    </div>
  </div>
  <% if @user.resume.attached? %>
    <div class="row">
      <div class="field">
        <%= link_to @user.resume.filename, rails_blob_path(@user.resume, disposition: 'attachment') %>
      </div>
    </div>
  <% end %>
  <div class="row">
    <div class="field">
      <input placeholder="Nombre" id="first_name" type="text" value="<%= @user.first_name %>">
    </div>
  </div>
  <div class="row">
    <div class="field">
      <input placeholder="Apellido" id="last_name" type="text" value="<%= @user.last_name %>">
    </div>
  </div>
  <div class="row">
    <div class="field">
      <input placeholder="email" id="email" type="email" value="<%= @user.email %>">
    </div>
  </div>
  <div class="row">
    <div class="field">
      <input placeholder="contraseña" id="password" type="password">
    </div>
  </div>
</div>
