<% content_for :body_class, "users-background" %>

<p id="notice"><%= notice %></p>

<div class="grid">
  <% if @user.avatar.attached? %>
    <%= image_tag @user.avatar, size: "200x200", class: "circle user-avatar" %>
  <% else %>
    <i class="large material-icons default-avatar">account_circle</i>
  <% end %>

  <div class="profile-content white <%= !@user.avatar.attached? ? 'bottom-attached' : '' %>">
    <div class="top section">
      <h4><b><%= @user.full_name %></b></h4>
      <h5 class="grey-text"><b><i><%= @user.age %> años</i></b></h5>
      <p class="grey-text"><b><%= @user.email %></b></p>
      <div class="center-align">
        <% if (current_user == @user || logged_in_as_company?) && @user.resume.attached? %>
          <i class="tiny material-icons">file_download</i> 
          <%= link_to @user.resume.filename, rails_blob_path(@user.resume, disposition: 'attachment') %>
        <% end %>
      </div>
    </div>
    
    <div class="divider"></div>
    <div class="section left-align white black-text light-padding">
      <div>
        <label>Un poco sobre mi:</label>
        <p>
          <%= @user.description %>
        </p>
      </div>
    </div>
  
    <div class="divider"></div>
    <div class="section left-align light-padding">
      <label>Carreras que me interesan:</label>
      <div class="chips-container">
        <% @user.tags.each do |tag| %>
          <div class="chip blue lighten-1 white-text">
            <%= tag.name %>
          </div>
        <% end %>
        </div>
    </div>
  
    <% if current_user == @user %>
      <div class="divider"></div>
      <div>
        <p><%= link_to "Ver mis trabajos ideales", user_matches_path(@user), class: "btn-flat orange lighten-1 white-text" %></p>
        <p><%= link_to 'Editar usuario', edit_user_path(@user), class: "btn-flat orange lighten-3 white-text" %></p>
      </div>
    <% end %>
  </div>
</div>