<%= form_with(model: company, local: true, class: "left-align") do |form| %>
  <% if company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
      <% company.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="field">
      <%= form.label :nombre %>
      <%= form.text_field :name %>
    </div>

    <div class="field">
      <%= form.label :email %>
      <%= form.text_field :email %>
    </div>

    <div class="field">
      <%= form.label :numero %>
      <%= form.text_field :phone_number %>
    </div>

    <div class="field">
      <%= form.label :direccion %>
      <%= form.text_field :address %>
    </div>

    <div class="field">
      <%= form.label :descripcion %>
      <%= form.text_area :description %>
    </div>
    <div class="field">
      <%= form.label :contraseña %>
      <%= form.password_field :password %>
    </div>
    <div class="field">
      <%= form.label :confirmar_contraseña %>
      <%= form.password_field :password_confirmation %>
    </div>
  </div>

  <div class="actions center-align">
    <%= form.submit "Submitir", class: "waves-effect waves-light btn green white-text" %>
  </div>
<% end %>
