<%= form_with(model: company, local: true) do |form| %>
  <% if company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
      <% company.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-field">
    <%= form.label :nombre %>
    <%= form.text_field :name %>
  </div>

  <div class="input-field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="input-field">
    <%= form.label :numero %>
    <%= form.text_field :phone_number %>
  </div>

  <div class="input-field">
    <%= form.label :direccion %>
    <%= form.text_field :address %>
  </div>

  <div class="input-field">
    <%= form.label :descripcion %>
    <%= form.text_field :description %>
  </div>

  <div class="actions">
    <%= form.submit "Crear Compañia", class: "waves-effect waves-light btn green white-text" %>
  </div>
<% end %>
