<%= form_with(model: company, local: true, class: "left-align company form") do |form| %>
  <% if company.errors.any? %>
    <div>
      <b>
        <%= pluralize(@company.errors.count, "error", "errores") %> <%= (@company.errors.count && @company.errors.count > 1 ? "prohibieron" : "prohibio") %> crear la compañía:
      </b>
      <ul class="browser-default left-align">
        <% @company.errors.messages.each do |key, messages| %>
          <% messages.each do |message| %>
            <li class="red-text"><%= message %></li>
          <% end %>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row section">
    <div class="file-field field center-align">
      <div>
        <% if company.avatar.attached? %>
          <%= image_tag @company.avatar.variant(resize: '100x100'), size: "100x100", class: "circle" %>
        <% else %>
          <i class="large material-icons teal-text lighten-2">add_a_photo</i>
        <% end %>
        <%= form.file_field :avatar, accept:'image/*' %>
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text" placeholder="<%= company.avatar.attached? ? 'Cambiar logo' : 'Inserta un logo' %>">
      </div>
    </div>
    <div class="field">
      <%= form.label :nombre %>
      <%= form.text_field :name %>
    </div>

    <div class="field">
      <%= form.label :email %>
      <%= form.text_field :email %>
    </div>

    <div class="field">
      <%= form.label :numero %>
      <%= form.text_field :phone_number %>
    </div>

    <div class="field">
      <%= form.label :dirección %>
      <%= form.text_field :address %>
    </div>

    <div class="field">
      <%= form.label :descripción %>
      <%= form.text_area :description, class: "materialize-textarea" %>
    </div>
    <div class="field">
      <%= form.label :contraseña %>
      <%= form.password_field :password %>
    </div>
    <div class="field">
      <%= form.label :confirmar_contraseña %>
      <%= form.password_field :password_confirmation %>
    </div>
  </div>

  <div class="actions center-align">
    <%= form.submit "Submitir", class: "waves-effect waves-light btn green white-text" %>
  </div>
<% end %>
