<%= form_with(model: company, local: true, class: "left-align company form") do |form| %>
  <% if company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
      <% company.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row section">
    <div class="file-field field">
      <div>
        <% if company.avatar.attached? %>
          <%= image_tag @company.avatar.variant(resize: '100x100'), size: "100x100", class: "circle" %>
        <% else %>
          <i class="large material-icons teal-text lighten-2">add_a_photo</i>
        <% end %>
        <%= form.file_field :avatar, accept:'image/*' %>
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text" placeholder="<%= company.avatar.attached? ? 'Cambiar logo' : 'Inserta un logo' %>">
      </div>
    </div>
    <div class="field">
      <%= form.label :nombre %>
      <%= form.text_field :name %>
    </div>

    <div class="field">
      <%= form.label :email %>
      <%= form.text_field :email %>
    </div>

    <div class="field">
      <%= form.label :numero %>
      <%= form.text_field :phone_number %>
    </div>

    <div class="field">
      <%= form.label :direcci칩n %>
      <%= form.text_field :address %>
    </div>

    <div class="field">
      <%= form.label :descripci칩n %>
      <%= form.text_area :description, class: "materialize-textarea" %>
    </div>
    <div class="field">
      <%= form.label :contrase침a %>
      <%= form.password_field :password %>
    </div>
    <div class="field">
      <%= form.label :confirmar_contrase침a %>
      <%= form.password_field :password_confirmation %>
    </div>
  </div>

  <div class="actions center-align">
    <%= form.submit "Submitir", class: "waves-effect waves-light btn green white-text" %>
  </div>
<% end %>
