<%= content_for(:body_class, "edit") %>
<div class="grid">
  <% if !@company.avatar.attached? %> 
    <i class="large material-icons white-text default-avatar" alt="edit">edit</i>
  <% end %>
  <div class="profile-content white <%= !@company.avatar.attached? && 'bottom-attached' %>">
    <%= render 'form', company: @company %>

    <%= link_to 'Cancelar', @company, class: "btn-flat lighten-1 grey white-text" %>
    <p><%= link_to 'Borrar compañía', @company, method: :delete, 
                                             data: { confirm: 'Confirma que quiere borrar su cuenta?' }, 
                                             class: "btn-flat lighten-2 red white-text" %>
    </p>
  </div>
</div>
