
<div class="collection left-align">
  <% @posts.each do |post| %>
    <div class="collection-item">
      <span class="new badge" data-badge-caption="<%= post.job_type %>"></span>
      <b><%= link_to post.title, company_post_path(post.company, post) %></b>
      <% if current_user == post.company %>
        <td><%= link_to 'Edit', edit_company_post_path(post.company, post) %></td>
      <% end %>
      <p class="truncate"><%= post.description %></p>
      <div class="divider"></div>
      <p>
        <% post.tags.each do |tag| %>
          <div class="chip">
            <%= tag.name %>
          </div>
        <% end %>
      </p>
    </div>
  <% end %>
</div>
        