<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @post.description %>
</p>


<div class="row">
  <%= link_to 'Me Interesa!', '#', class: :btn %>
</div>

<%= link_to 'Edit', edit_company_post_path(@company, @post) %> |
<%= link_to 'Back', company_posts_path(@company) %>
